/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

a {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
}

.recipe-day {
  background-color: red;
  color: white;
  border-radius: 11px;
  margin: 15px 69px;
}

.recette-granola-name {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 24px;
  line-height: 1.2;
  margin: 15px;
}

h2 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  font-weight:700;
  line-height:1.2;
}

.slogan {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 16px;
  line-height: 1.2;
}

p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 15px;
}

h3 {
  font-family: 'Libre Franklin';
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  padding: 15px;
}

main {
  background-color: #ebede7;
  padding: 15px;
}

div {
  background-color: white;
  margin-top: 15px;
}

footer {
  background-color: black;
  color: white;
  text-align: left;
  padding: 30px 15px;
}

nav {
  margin: 15px 0px;
}

hr {
  background-color: black;
}


